:root {
	--board-width: 330px;
	--board-height: var(--board-width);
	--cell-margin: 10px;
	--cell-width: calc((var(--board-width) /3) - var(--cell-margin));
	--cell-height: calc((var(--board-width) /3) - var(--cell-margin));
	--button-width: calc(var(--board-width) /3);
	--button-height: calc(var(--button-width) /3);
	--font-size: calc(var(--button-width) /5);
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: var(--board-width);
	height: var(--board-height);
	background: #FAECC8;
	padding: 5px;
	border-radius: 5%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	width: var(--cell-width);
	height: var(--cell-height);
	background: #C8D5FA;
	border-radius: 15%;
	margin: 5px;
	border: None;
}

.cell:hover {
	background-color: #a8bcf7;
}

.player-icon {
	width: calc(var(--cell-width)/2);
	height: calc(var(--cell-width)/2);
}

.message {
	text-align: center;
	font-size: var(--font-size);
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	padding-top: 20px;
}

.button {
	width: var(--button-width);
	height: var(--button-height);
	margin-left: calc((var(--board-width) - var(--button-width)) / 2);
	margin-right: calc((var(--board-width) - var(--button-width)) / 2);
	background: #36eeb4;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: var(--font-size);
	margin-bottom: 20px;
}

.button:hover {
	background-color: #66f2c6;
	width: calc(var(--button-width) + 2px);
	height: calc(var(--button-height) + 2px);
}