html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: 330px;
	height: 330px;
	background: #FAECC8;
	padding: 5px;
	border-radius: 5%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	width: 100px;
	height: 100px;
	background: #C8D5FA;
	border-radius: 15%;
	margin: 5px;
	border: None;
}

.cell:hover {
	background-color: #a8bcf7;
  }

.player-icon {
	width: 50px;
	height: 50px
}

.message {
	text-align: center;
	font-size: 20px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	padding-top: 20px;
}

.button {
	width: 100px;
	height: 35px;
	margin-left: 115px;
	margin-right: 115px;
	background: #36eeb4;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 20px;
	margin-bottom: 20px;
}

.button:hover {
	background-color: #66f2c6;
	width: 102px;
	height: 37px;
}