:root {
	--board-width: 330px;
	--board-height: var(--board-width);
	--cell-margin: 10px;
	--cell-width: calc((var(--board-width) / 3) - var(--cell-margin));
	--cell-height: var(--cell-width);
	--button-width: calc(var(--board-width) / 3);
	--button-height: calc(var(--button-width) / 3);
	--font-size: calc(var(--button-width) / 5);
	--font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  

  .main-container {
	display: grid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .controls-container {
	display: flex;
	justify-content: space-between;
	width: var(--board-width);
  }

  .grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
  }

  .board {
	width: var(--board-width);
	height: var(--board-height);
	background: #faecc8;
	padding: 5px;
	border-radius: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  
  .cell {
	width: var(--cell-width);
	height: var(--cell-height);
	background: #c8d5fa;
	border-radius: 15%;
	margin: 5px;
	border: none;
  }
  
  .cell:hover {
	background-color: #a8bcf7;
  }
  
  .player-icon {
	width: calc(var(--cell-width) / 2);
	height: calc(var(--cell-width) / 2);
  }
  
  .message {
	text-align: center;
	font-size: var(--font-size);
	font-family: var(--font-family);
  }
  
  .next-move {
	font-size: var(--font-size);
	font-family: var(--font-family);
  }
  
  .reset-button {
	width: var(--button-width);
	height: var(--button-height);
	background: #36eeb4;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: var(--font-family);
	font-size: var(--font-size);
  }
  
  .reset-button:hover {
	background-color: #66f2c6;
	width: calc(var(--button-width) + 2px);
	height: calc(var(--button-height) + 2px);
  }
  